*{   
    font-family: 'Lato', sans-serif;
}


h1, .h1, h2, .h2{
    font-family: 'Electrolize', sans-serif;
}

body{
    overflow-x: hidden;
}

:root{
    --main-color: rgb(6, 57, 108);
}

.header-custom{
    height:800px;
    background-image: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./White/media/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
}

.fs-custom{
    font-size: 85px;
    padding-bottom: 25px;
}

.text-custom{
    color: var(--main-color);
    font-weight: bold;
}

.bg-custom{
    background-color: var(--main-color);
}

.ms-custom{
    margin-left: 580px;
}

@media screen and (max-width: 600px) {
    .ms-custom {
        margin-left: 0px;
    }
  }

.mt-custom{
    margin-top: 150px;
}

.megalorem{
    font-size: 100px;
}

@media screen and (max-width: 600px) {
    h2.megalorem {
      font-size: 30px;
    }
  }

@media screen and (max-width: 600px) {
    h2.some-stuff {
      font-size: 30px;
    }
  }

.quote p::before{
    content:open-quote;
    font-size: 80px;
    color: var(--main-color);
    position: absolute;
    left: -15px;
    top: -53px;
}

@media screen and (max-width: 600px) {
    div.quote p::before {
        left: 0px;
        top: -30px;
        font-size: 50px;
    }
  }

.lorem-custom{
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}

.bg-powerlorem{
    height: 500px;
    background-image: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./White/media/power-plant-4712830_1280.jpg);
}

.box-relative{
    position: relative;
    border: 3px solid white;
    background-color: rgb(12, 87, 161);
    top: -115px;
}

.box-relative2{
    position: relative;
    background-color: white;
    top: 0px;
    left: -50px;
}

.box-relative3{
    position: relative;
    background-color: white;
}

.box-relative4{
    position: relative;
    background-color: white;
}

.box-relative5{
    position: relative;
    background-color: white;
}

.box-relative6{
    position: relative;
    top: -100px;
}

.box-relative7{
    position: relative;
    top: -80px;
}


@media screen and (max-width: 600px) {
    .box-relative {
        border: 3px solid white;
        background-color: rgb(12, 87, 161);
        top: 0px;
    }
  }

@media screen and (max-width: 600px) {
    .box-relative7 {
        top: 0px;
    }
  }

  /* @media screen and (max-width: 600px) {
    .box-relative2 {
        background-color: white;
        top: 0px;
        left: 0px;
    }
  } */

  /* @media screen and (max-width: 600px) {
    .box-relative3 {
        background-color: white;
    }
  } */

  /* @media screen and (max-width: 600px) {
    .box-relative4 {
    }
  }

  @media screen and (max-width: 600px) {
    .box-relative5 {
    }
  } */


.btn-custom {
    height: 50px;
    width: 160px;
    background-color: rgb(12, 87, 161);
}

.colonnaimg{
    background-image:  url(./White/media/wave.png);
    background-position: center;
    color: #fff;
    height: 180px;
    width: 350px;
}

.colonnaimg .linear{
    background: linear-gradient(90deg, rgba(6, 57, 108, 0.5), rgb(6 57 108 / 0%));
    height: 170px;
    position: relative;
    width: 270px;
    top: -17px;
    left: -30px;
}

.colonnaimg2{
    background-image:  url(./White/media/wind.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 180px;
    width: 350px;
}

.colonnaimg2 .linear2{
    background: linear-gradient(90deg, rgba(6, 57, 108, 0.5), rgb(6 57 108 / 0%));
    height: 170px;
    position: relative;
    width: 270px;
    top: -17px;
    left: -30px;
}

.list-custom {
    list-style-type: none;
}

a { 
    color: inherit; 
} 

.blob {
    border-radius: 10%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(1);
    animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
